.project {
  padding-left: 4rem;
  padding-right: 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.photos {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.photos img {
  max-width: 48%;
  border-radius: 1em;
}

.technologies {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 1em;
  height: 4em;
}

.technologies img {
  max-height: 6em;
  flex-grow: 1;
  object-fit: contain;
  max-width: 100%;
}

.project a {
  display: inline-block;
}


@media screen and (min-width: 50rem) and (max-width: 80rem) {
  .technologies {
    height: 3em;
  }

  .project {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 50rem) {
  .photos,
  .technologies {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: auto;
  }

  .photos img {
    max-width: 100%;
  }

  .project {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


@media screen and (max-width: 30rem) {
  .project {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}