.project {
  padding-left: 4em;
  padding-right: 2em;
  margin-bottom: 1.5em;
  width: 100%;
  box-sizing: border-box;
}

.photos {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.photos img {
  max-width: 48%;
  border-radius: 1em;
}

.technologies {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1em;
}

.technologies img {
  max-height: 4em;
  flex-grow: 1;
}

.project a {
  display: inline-block;
}
