.project {
  margin-left: 6em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.photos {
  display: flex;
  justify-content: space-between;
}

.photos img {
  max-width: 48%;
  border-radius: 1em;
}

.technologies {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.technologies img {
  max-height: 4em;
  flex-grow: 1;
}

.project a {
  display: inline-block;
  padding-bottom: 1em;
}

.project > h2 {
  padding-bottom: 1em;
}
