#root {
  max-width: 100em;
  margin: 0 auto;
  padding: 2rem;
}

.profilePhoto {
  border-radius: 10px;
  width: 300px;
}

.card {
  padding: 2em;
}

.actualRoot {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav {
  position: sticky;
  padding-left: 1vw;
  padding-top: 1em;
  top: 0;
  width: 15ch;
  align-self: flex-start;
}

.dummy {
  width: 15ch;
  padding-right: 1vw;
}

.dot {
  height: 0.5em;
  width: 0.5em;
  background-color: #bbbbbba0;
  border-radius: 50%;
  display: inline-block;
}

.progress {
  display: grid;
  justify-content: center;
  gap: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

main {
  max-width: 1000px;
  padding-left: 4em;
  padding-right: 4em;
  justify-self: center;
}

.flexCol,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flexCol h1 {
  padding-top: 2em;
  padding-bottom: 0.5em;
  align-self: flex-start;
}

/* Social icons */

.socialRow {
  display: flex;
  justify-content: space-between;
  width: 40ch;
}

.socialRow,
a {
  position: relative;
  height: 2.5em;
  padding-bottom: 1em;
}

.socialIcon {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5em;
  width: 2.5em;
  color: #fff;
  border-radius: 50%;
  /* backdrop-filter: blur(10px); */
  /* inset 0 0 10px 5px #fff; */
}

.socialIcon.blur {
  filter: blur(10px);
  transform: scale(0.95);
  box-shadow: 0px 0px 12px 4px white;
  transition: filter 0.3s ease, transform 0.25s ease, box-shadow 0.3s ease;
}

.socialIcon.blur:hover {
  /* filter: blur(6px); */
  transform: scale(1);
  box-shadow: 0px 0px 5px 9px white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .socialLink:hover .socialIcon {
    -webkit-animation: spin 0.25s linear normal;
    -moz-animation: spin 0.25s linear normal;
    animation: spin 0.25s linear normal;
  }
}

.indent,
.projectHeader {
  padding-left: 4em;
}

.projectHeader {
  display: flex;
  align-items: center;
  height: 4em;
  width: 100%;
}

.projectHeader img {
  height: 100%;
}

hr {
  width: 3ch;
  margin-left: 5ch;
  margin-right: 5ch;
  border-radius: 1em;
  border: 0.15em solid white;
}

.project {
  padding-left: 8em;
  width: 100%;
}

.photos {
  display: flex;
  justify-content: space-between;
}

.photos img {
  width: 450px;
  border-radius: 1em;
}

.technologies {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.technologies img {
  max-height: 4em;
  flex-grow: 1;
}

em {
  text-shadow: 0px 1px 14px white, 0px -1px 14px white;
  font-style: inherit;
}
