#root {
  display: flex;
  justify-content: center;
}

.actualRoot {
  max-width: 100em;
  display: flex;
  justify-content: space-between;
}

main {
  max-width: 1000px;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 4em;
  box-sizing: border-box;
  justify-self: center;
  flex: 1 1 0;
}

main > h1, main > h3{
  margin-bottom: 0;
}

.flexCol,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.flexCol {
  padding-bottom: 1em;
}

.flexCol h1 {
  padding-top: 2em;
  padding-bottom: 0.5em;
  align-self: flex-start;
}

.profilePhoto {
  border-radius: 10px;
  width: 300px;
  max-width: 95vw;
}

.card {
  padding: 2em;
}

nav,
.dummy {
  position: sticky;
  padding-left: 0.5vw;
  padding-top: 1em;
  top: 0;
  width: 15ch;
  align-self: flex-start;
}

.dot {
  height: 0.5em;
  width: 0.5em;
  background-color: #bbbbbba0;
  border-radius: 50%;
  display: inline-block;
}

.progress {
  display: grid;
  justify-content: center;
  gap: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

hr {
  width: 3ch;
  margin-left: 5ch;
  margin-right: 5ch;
  border-radius: 1em;
  border: 0.15em solid white;
}

/* Headers */

.indent,
.header {
  padding-left: 2em;
}

.header {
  display: flex;
  align-items: center;
  min-height: 4em;
  margin-bottom: 0.5em;
  width: 100%;
  box-sizing: border-box;
}

.header > img {
  height: 4.5em;
}

.header > h2 {
  margin-left: 1em;
  margin-right: 0.5em;
  font-size: 1.75em;
  font-weight: 725;
}

.collapse {
  display: flex;
  justify-content: center;
}

.collapse img {
  height: 3em;
}

/* Social icons */

.socialRow {
  display: flex;
  justify-content: space-between;
  width: 40ch;
  padding-top: 2em;
  padding-bottom: 2em;
}

.socialRow a {
  position: relative;
  height: 2.5em;
  width: 2.5em;
}

.socialIcon {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5em;
  width: 2.5em;
  color: #fff;
  border-radius: 50%;
  /* backdrop-filter: blur(10px); */
  /* inset 0 0 10px 5px #fff; */
}

.socialIcon.blur {
  filter: blur(8px)  brightness(70%);
  transform: scale(0.95);
  box-shadow: 0px 0px 12px 4px white;
  transition: filter 0.2s ease, transform 0.25s ease, box-shadow 0.3s ease;
}

.socialLink:hover .socialIcon.blur {
  /* filter: blur(6px); */
  transform: scale(1.05);
  /* box-shadow: 0px 0px 5px 9px white; */
}

a.socialLink {
  filter: none;
}

a.socialLink:hover {
  filter: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .socialLink:hover .socialIcon {
    -webkit-animation: spin 0.25s linear normal;
    -moz-animation: spin 0.25s linear normal;
    animation: spin 0.25s linear normal;
  }
}

em {
  font-weight: 600;
  color: #fff;
  font-style: inherit;
  text-shadow: 0px 0px 2em white;
}

.dimText {
  color: #eee;
}

.hide {
  /* --reveal-time: 0.3s;
  height: 0;
  transition: height var(--reveal-time) ease-in-out;
  overflow: hidden;
  padding-bottom: 1em; */
  display: none;
}

.hide.reveal {
  display: contents;
  /* height: 100%;
  padding-bottom: 0em; */
}

.shortform {
  display: none !important;
  white-space: pre-wrap;
  text-align: end;
}

@media screen and (max-width: 80rem) {
  nav,
  .dummy {
    display: none;
  }

  .actualRoot {
    justify-content: center;
  }
}

@media screen and (max-width: 50rem) {
  main {
    padding-left: 0em;
    padding-right: 0em;
  }

  .flexCol {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .socialRow {
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
  
  hr {
    margin-left: 1em;
    margin-right: 1em;
    width: 2ch;
  }
}


@media screen and (max-width: 30rem) {
  .header hr,
  .header > img {
    display: none;
  }
  .header > h2 {
    margin-left: 0em;
    margin-right: 0em;
  }
  .indent,
  .header {
    padding-left: 0em;
  }

  .longform {
    display: none !important;
  }

  .shortform {
    display: inherit !important;
  }
}